@use '../../styles/mixins' as mix;

.main{
    width: 55%;
    @extend %stylesColumns;
    gap: 0;
    padding: 0;

    &.twoColumns{
        width: 87%;
    }

    @include mix.phones{
        width: 100%;  
    }

    @include mix.tablets{
        width: 85%;
    }   
}
