@use '../../../styles/mixins' as mix;


.playQueue__queueAndHistoryContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.playQueue__queueAndHistoryContainer--playQueue,
.playQueue__queueAndHistoryContainer--playBackHistory{
    width: fit-content;

    @include mix.tablets{
        margin-right: 6px;
    }
}

.playQueue__infoText{
    margin: 15px 0;
}

