@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $font-body;
  font-size: $font-size-base;
}

h1, h2, h3 {
  font-family: $font-heading;
  font-weight: 700;
}

h1 {
  font-size: $font-size-h1;
  margin: 0.2em 0;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

p, span, input, button {
  font-family: $font-body;
  font-size: $font-size-base;
}

