@use '../../styles/mixins' as mix;

.asideLeft {
    width: 12%;
    @extend %stylesColumns;
    padding: 0.4rem;

    @include mix.phones{
        display: none;
    }

    @include mix.tablets{
        width: 15%;
        gap: 7px;
        padding: 0.6rem 0.2rem ;
    }
}

.asideLeft__userContainer{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0.5rem 0 0 0.6rem;
    margin-bottom: 5px;

    @include mix.tablets{
        justify-content: center;
    }
}

.asideLeft__songsGrid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include mix.tablets{
        grid-auto-rows: minmax(80px, auto);
    }
}

