@use '../../styles/mixins' as mix;


.main__playlistSongsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 4px;
    padding: 0.3rem;
}

.main__songContainer{
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 1fr 0.5fr;
    position: relative;
    padding: 0.4rem;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
    background-color: rgba(255, 255, 255, 0.15);

    .main__songContainer--numberSong{
        display: none;
    }

    .main__songContainer--iconPlay{
        display: inline;
    }
}   

    @include mix.no-hover{
        &:hover{
            transition: none;
            background-color: transparent;

        .main__songContainer--iconPlay{
            display: none;
        }

        .main__songContainer--numberSong{
            display: none;
        }
    }
}

    @include mix.phones{
        grid-template-columns: 1fr;
        place-items: flex-start;
    }

    @include mix.tablets{
        grid-template-columns: 0.2fr 1fr 1fr;
        padding: 0;

        .main__songContainer--numberSong {
            display: inline !important;
        }
    }
}

.main__songContainer--iconPlay{
    display: none;
    font-size: 20px;
}

.main__songContainer--songNumberContainer{
    @include mix.phones{
        display: none;
    }

     @include mix.tablets{
        justify-self: center;
    }
}


.main__songContainer--aboutSongContainer{
    display: flex;
    align-items: center;
    gap: 10px;

    @include mix.phones{
        gap: 18px;
    }
}

.main__songContainer--songImgContainer{
    display: flex;
    align-items: center;
}

.main__songContainer--imgSong {
  width: 40px;
  height: 40px;
  display: inline-block;
  object-fit: contain;
  border-radius: 4px;

  @include mix.phones{
    width: 35px;
    height: 35px;
  }
}

.main__songContainer--albumNameContainer{
    min-width: 0;
    overflow: hidden;

    @include mix.phones{
        display: none;
    }

    @include mix.tablets {
    justify-self: center;    
    text-align: center;      
  }
}

.main__songContainer--durationContainer{
    justify-self: center;

    @include mix.phones{
        display: none;
    }

    @include mix.tablets{
        display: none
    }
}

.main__songContainer--albumName{
  @extend %textTruncate;
  width: 142px;
}

.main__songContainer--titleSong,
.main__songContainer--artist{
    @extend %textTruncate;
    width: 155px;
}
