@use "../../styles/mixins" as mix;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  z-index: 100;
}

.header__leftSection {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  font-size: 40px;
  cursor: pointer;

  @include mix.phones {
    font-size: 30px;
  }
}

.header__leftSection--logoContainer {
  display: flex;
}

.mainIcon {
  font-size: 36.8px;
}

.header__centerSection {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mix.phones {
    display: none;
  }

  @include mix.tablets{
    display: none
  }
}

.header__centerSection--homeContainer {
  @include mix.circleIconContainer("homeIcon");
}

.header__centerSection--searchContainer {
  width: 100%;
  @extend %searchContainer;
}

.header__centerSection--searchInput {
  flex: 1;
  @extend %searchInput;
}

.header__rightSection--userContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;

  @include mix.phones {
    width: 45%;
  }
}
