@use '../../styles/mixins' as mix;

.sidebarRight{
    width: 32%;
    @extend %stylesColumns;
    gap: 15px;

    &.inactive{
        display: none;
        pointer-events: none;
    }

    @include mix.phones{
        display: none;
    }

    @include mix.tablets{
        width: 35%;
    }
}

