@use '../../styles/mixins' as mix;

.sidebarRight{
    width: 30%;
    @extend %stylesColumns;

    @include mix.phones{
        display: none;
    }

    @include mix.tablets{
        width: 35%;
    }
}