@use '../../styles/mixins' as mix;

.main{
    width: 40%;
    border-radius: 0;
    gap: 0;
    padding: 0;
    @extend %stylesColumns;

    @include mix.phones{
        width: 100%;  
    }

    @include mix.tablets{
        width: 50%;
    }   
}

.main__banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 2rem;
    border-radius: 12px 12px 0 0;
    background: linear-gradient(
        to top,
        #2e0aa8 0%,      
        #3a15c6 25%,     
        #4c29d4 50%,      
        #5d40e0 70%,      
        #7257eb 85%,     
        #8a73f0 100%     
    );

    @include mix.phones{
        border-radius: 0;
        flex-direction: column;
        padding: 1rem;
    }
}

.main__banner--playlistImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 130px;
    border-radius: 10px;
    z-index: 100;
    background: linear-gradient(
        145deg,      
        #490ff1 0%,     
        #5724e4 15%,     
        #6a53e6 28%,     
        #7a7ed7 40%,     
        #8d8fda 55%,     
        #9aabd0 68%,    
        #a8bfcd 78%,     
        #b2d4c5 88%,     
        #b8ddcc 100%    
);
    box-shadow: 
        0 30px 60px rgba(74, 0, 255, 0.25),  
        0 12px 24px rgba(106, 61, 230, 0.2);

    @include mix.phones{
        width: 160px;
        height: 160px;
    }
}

.favoritesIcon{
    font-size: 40px;
    fill: #FFFFFF;
}

.main__banner--playlistInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__banner--playlistTtile{
    @include mix.phones{
        display: none;
    }
}

.main__banner--playlistName{
    @include mix.phones{
        font-size: 1.8rem;
    }
}

.backgroundContinuationBanner {
  height: 80%;
  background: linear-gradient(
    to bottom,
    rgba(50, 13, 177, 0.8) 0%,
    #2d2d2d 25%,
    #252525 60%,
    #1e1e1e 95%,
    #1b1b1b 100%
  );
    background-color: rgba(255,255,255,0.1); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
}

.main__audioContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 1rem 0.8rem;
}

.main__audioContainer--userOptionsContainer{
    display: flex;
    align-items: center;
    gap: 8px;
}

.main__sortOptionsContainer{
    padding: 0.3rem;

    @include mix.phones{
        display: none;
    }

    @include mix.tablets{
        display: none
    }
}

.main__audioContainer--iconReproduceContainer {
  @include mix.circleIconContainer("reproduceIcon", false);
  background-color: #1ed760;
  will-change: transform;

  .reproduceIcon {
    color: #000000;
    fill: #000000;
  }

  @include mix.phones{
    width: 45px;
    height: 45px;

    .reproduceIcon{
        font-size: 24px;
    }
  }
}


.main__audioContainer--searchFilterContainer{
    display: flex;
    align-items: center;

    @include mix.phones{
        display: none;
    }

    @include mix.tablets{
        display: none;
    }
}

.main__audioContainer--_addedDateLabel{
    display: flex;
    align-items: center;
    margin-left: 10px;
    transition: color 0.3s ease; 
    cursor: pointer;   
    color: #b0b0b0;
    
    &:hover {
        color: #FFFFFF;
    } 
    
    @include mix.no-hover{
        &:hover{
            transition: none;
            color: #b0b0b0;
        }
    }

    @include mix.phones{
        display: none;
    }

    @include mix.tablets{
        display: none;
    }
}

.main__sortOptionsContainer--btnsGroup {
  display: grid;
  grid-template-columns:  0.2fr 1.5fr 1fr 0.5fr;
  position: relative;
  margin-bottom: 10px;
  padding: 0.4rem;

  p {
    display: flex;
    align-items: center;
    position: relative;

    &:not(:last-child)::after {
      content: '|';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #999;
      font-size: 18px;
      padding: 0 10px;
    }
  }

.main__sortOptionsContainer--durationSong{
    justify-self: center;
  }
}

.divider{
    width: 95%;
    display: block;
    margin: 0.6rem auto;
    color: #999;      
    
    
    @include mix.phones{
        display: none;
    }

    @include mix.tablets{
        display: none
    }
}

